<h1><%= @post.title%></h1>
<h3><%= @markdown.render(@post.body).html_safe %></h3>
<p><%= time_ago_in_words(@post.created_at)%></p>
<hr>
<h6>Comment:</h6>
<% @post.comments.each do |comment| %>
    <% if !user_signed_in? || comment.user_id != current_user.id%>
      <%= comment.body %>
    <% elsif comment.user_id == current_user.id %>
      <%= link_to comment.body, edit_post_comment_path(@post,comment) %>
      <%= link_to "Delete Comment", post_comment_path(@post,comment), method: :delete %>
  
    <% end %>
    <hr>
<% end%>

<% if user_signed_in?%>
    <%= form_for [@post, Comment.new] do |f| %>
        <%= f.text_field :body, placeholder: "Comment", class: "form-control", require: true  %>
        <%= f.submit %>
    <% end %>
<% end %>

<%if user_signed_in? && @post.user_id == current_user.id %>
<%= link_to "Edit", edit_post_url(@post) %>
<%= link_to "Delete", post_url(@post), method: 'delete', data: {confirm:
              "Are you want to delete #{@post.title} ?"}%>
<%end%>